@import '../bower_components/gumby-parallax/_parallax.scss';
// BACKGROUND IMAGES THROUGHOUT START =========

.parallax1{
   background: url(../img/about-bg.jpg) no-repeat;
   background-size: cover;
   margin-top: 0px;
   padding-top: 0px;
}
.parallax2{
   background: url(../img/geometry.png) repeat;
}
.parallaxTop{
   background: url(../img/tempBackground.jpg) no-repeat;
   background-size: cover;
   min-height: 400px;
   height: 100%;
}
.parallaxTopFAQ{
   background: url(../img/tempBackground.jpg) no-repeat;
   background-size: cover;
   height: 30%;
}
// BACKGROUND IMAGES THROUGHOUT END =========

// UNDERLINE NAVBAR HOVER STATE START ==========
a > span {
   position: relative;
   color: #444;
   text-decoration: none;
   font-family: 'Roboto'
}
a > span:hover {
   color: #41bf76 !important;
}
a > span:before {
   content: "";
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: 0;
   left: 0;
   margin-bottom: -15px;
   background-color: #41bf76;
   visibility: hidden;
   -webkit-transform: scaleX(0);
   transform: scaleX(0);
   -webkit-transition: all 0.3s ease-in-out 0s;
   transition: all 0.3s ease-in-out 0s;
}
.mainPast ul a > span:before{
   background-color: #41bf76;
}
a > span:hover:before {
   visibility: visible;
   -webkit-transform: scaleX(1);
   transform: scaleX(1);
}
a:before:hover{
}
// UNDERLINE NAVBAR HOVER STATE END ==========
.navbar ul li > a{
   padding-right: 0px;
   padding-left: 0px;
   text-shadow: none;
   color: #444;
   font-weight: 500;
   font-family: 'Roboto';
   font-size: 14px;
}
.navbar ul li > a:hover{
   background-color: transparent;
}
.gumby-no-touch .navbar ul li:hover > a, .gumby-touch .navbar ul li.active > a, .navbar, .skiplink{
   background: transparent;
}
nav{
   width: 100%;
   height: 20%;
   background-color: white;
   .four.columns.logo{
      margin-top: 1.7%;
   }
   .eight.columns{
      margin-top: 2.5%;
      text-align: inherit;
      li{
         width: 120px;
         text-align: center;
      }
      a{
         text-align: inherit;
         font-weight: 500;
      }
      span:hover{
         color: #41bf76 !important;
         font-weight: 700;
      }
   }
}


nav.fixed{
   width: 100%;
   background: white;
   z-index: 10;
   @include hidden(all-phones);
   @include hidden(portrait-tablets);
   height: 65px;
   .four.columns.logo{
      margin-top: -5px;
   }
   .eight.columns{
      margin-top: 5px;
   }
   img{
      width: 100px;
   }
   a > span:before {
      margin-bottom: -2px;
   }
}
.navbar ul li{

}

.headline{
   text-align: inherit;
   margin-top: 30%;
}
.headline svg{
   max-height: 490px !important;
}
.test3{
   text-align: left;
   padding-left: 0px;
   margin-top: 70px;
   z-index: -11111;
}
.test3 img{
   position: relative;
   right: -45%;
   opacity: 1;
   @include transition(all .8s);
   @include transition-timing-function(ease-out);
}
.test3 img.onscreen {
   right: 0%;
   opacity: 1;
}
.mainClient{
   position: relative;
   z-index: 1;
   min-height: 62px;
}
.clientTextSlide{
   position: relative;
   left: -25%;
   opacity: 0;
   @include transition(all .3s);
}
.clientTextSlide.onscreen {
   left: 0%;
   opacity: 1;
@include transition(all .8s);
@include transition-timing-function(ease-out);
@include transition-delay(.7s);
}
.thirdParty{
   position: relative;
   right: -10%;
   opacity: 0;
   @include transition(all .8s);
   @include transition-timing-function(ease-out);
   @include transition-delay(1.4s);
}
.thirdParty.onscreen {
   right: 0%;
   opacity: 1;
}
.mainClientWrap{
   margin-top: 0px;
}
.mainClient{
   text-align: left;
   margin-top: 14%;
   h3{
      font-weight: 700;
      padding-left: 0%;
      margin-bottom: 7px;
   }
   .descrip{
      font-weight: 300;
      margin-bottom: 30px;
      padding-left: 0%;
      font-size: 105%;
   }
   p{
      margin-bottom: 0px;
      .button{
         width: 260px;
         text-align: center;
         margin-bottom: 0px !important;
      }
   }
}
.needHelp{
   padding-left: 0%;
   font-size: 95%;
   font-weight: 300;
   span{
      color: #41bf76;
      font-size: 14px;
      font-weight: 500;
   }
   a > span:hover {
      color: #41bf76 !important;
   }
   a > span:before {
      margin-bottom: -2px;
      background-color: #41bf76;
   }
}

.comingS{
   font-weight: 500;
   font-size: 12px;
   color: #444 !important;
}
.thirdPartyButton{
   padding-right: -30px;
}
.thirdParty{
   text-align: right;
   margin-bottom: 50px;
   h3{
      font-weight: 700;
   }
   p{
      margin-left: 16%;
      font-weight: 300;
   }
}
.stats{
   text-align: center;
   background-color: #444;
   padding-top: 70px;
   padding-bottom: 70px;
   .statNumbers{
      font-size: 300%;
      margin-bottom: 20px;
      color: #41bf76;
      font-weight: 300;
   }
   .statWords{
      font-size: $norm;
      color: white;
   }
   .statInfo{
      margin-top: 0;
   }
}
.stats .statInfo{
   @include fancytiles(4,2,2);
}
.clientNem{
   padding-top: 70px;
   padding-bottom: 70px;
}
.test2{
   position: relative;
   z-index: 1;
   min-height: 62px;
}
.purchase .ten.columns.centered{
   margin-top: 20px;
   font-weight: 300;
}
.purchase{
   text-align: center !important;
}
.joined{
   min-height: 230px;
}
.arrows{
   padding-top: 18px;
   width: 60px;
}
.money{
   padding-top: 7px;
   width: 90px;
}
.bitcoin{
   width: 65px;
   padding-top: 15px;
   padding-bottom: 15px;
}
.nemIcon{
   width: 65px;
   padding-top: 13px;
}
.button {
   margin: .4em;
   padding: .8em;
   cursor: pointer;
   background: transparent;
   text-decoration: none;
   border: 3px solid #444;
   color: #666;
   font-weight: 500;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   width: 160px;
   @include border-radius(3px);
}
.buyGuide{
   margin-top: 50px;
   margin-bottom: 70px !important;
   padding-top: 10px;
   margin-bottom: 10px;
   width: 100% !important;
   margin-bottom: 30px;
   background-color: transparent;
   text-align: center;
   position: relative;
   left: -40px;
   opacity: 0;
   @include transition(all .8s);
   @include transition-timing-function(ease-out);
   h5{
      font-size: 18px;
   }
   span{
      color: #41bf76;
      font-size: 16px;
      font-weight: 500;
   }
   a > span:hover {
      color: #41bf76 !important;
   }
   a > span:before {
      margin-bottom: -2px;
      background-color: #41bf76;
   }
}
.buyGuide.onscreen {
   left: 0px;
   opacity: 1;
}
.comingSoon{
   border: none;
   font-size: 12px;
   font-weight: bold;
   margin-top: 132px;
}
.heading3{
   padding-top: 70px;
   padding-bottom: 50px;
   background: transparent;
   text-align: center;
}
.border{
   min-height: 340px;
   padding: 2%;
   margin-top: 0px;
   background-color: white;
}
.faqs{
   background-color: #fefef6;
   color: #40cd7e;
   .four.columns{
      text-align: center;
      h3{
         right: -120%;
         font-size: 45px;
         position: relative;
         opacity: 1;
         @include transition(all 1s);
         @include transition-timing-function(ease-out);
         @include transition-delay(0s);
      }
      h3.onscreen {
         font-size: 30px;
         right: 0%;
         opacity: 1;
      }
   }
   li{
          padding-left: 5.2em;
    text-indent:-5.2em;
      @include font-size($norm);
      i{
         font-size: $large;
         margin-top: 3px;
         margin-bottom: 3px;
   text-indent:0;
         padding: 10px;
         color: #444;
         background-color: #f6f6f6;
         @include border-radius(3px);
         left: -15%;
         position: relative;
         opacity: 0;
         @include transition(all .2s);
      }
      i.onscreen {
         left: 0%;
         opacity: 1;
         @include transition(all .6s);
         @include transition-timing-function(ease-out);
         @include transition-delay(.8s);
      }
   }
   span{
      color: #41bf76;
      font-size: 16px;
      font-weight: 500;
      right: -15%;
      position: relative;
      opacity: 0;
      margin-left: 6%;
      @include transition(all .2s);
   }
   span.onscreen {
      right: 0%;
      opacity: 1;
      @include transition(all .6s);
      @include transition-timing-function(ease-out);
      @include transition-delay(.8s);
   }
   a > span:hover {
      color: #41bf76 !important;
   }
   a > span:before {
      margin-bottom: -2px;
      background-color: #41bf76;
   }
}
#footer{
   text-align: left;
   background-color: #444;
   padding-top: 30px;
   color: white;
   a{
      color: white;
   }
}
.footLinks {
   margin-bottom: 50px;
.four.columns{
   right: -15%;
   position: relative;
   opacity: 1;
   @include transition(all .2s);
}
.four.columns.onscreen {
   right: 0%;
   opacity: 1;
   @include transition(all .6s);
   @include transition-timing-function(ease-out);
   @include transition-delay(0s);
}
   p{
      font-size: 14px;
   }
   ul {
      li {
         line-height:1.2em;
         font-size: 83%;
         font-weight: 500;
         &:first-child {
            font-weight: 700;
            font-size: 110%;
            margin-bottom: 0px !important;
            line-height:2.9em;
         }
      }
   }
}
.lowerFooter{
   padding-top: 8px;
   padding-bottom: 8px;
   background-color: #2f2f2f;
   color: #a4a4a4;
}
.license{
   text-align: left;
   font-size: 12px;
}
.socialFooter{
   text-align: right;
   font-size: 20px;
}
/* BUTTON STYLING START */
.btn {
   border: none;
   font-family: inherit;
   font-size: inherit;
   color: inherit;
   background: none;
   cursor: pointer;
   padding: 6px 6px !important;
   display: inline-block;
   margin: 0px;
   text-transform: uppercase;
   letter-spacing: 1px;
   outline: none;
   position: relative;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}
.btn:after {
   content: '';
   position: absolute;
   z-index: -1;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}
/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
   font-family: 'icomoon';
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   position: relative;
   -webkit-font-smoothing: antialiased;
}
.btn-1 {
   border: 2px solid #444;
   color: #444;
   font-size: 12px;
}
.btn-1e {
   overflow: hidden;
}
.btn-1e:after {
   width: 100%;
   height: 0;
   top: 50%;
   left: 50%;
   background: #444;
   opacity: 0;
   -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
   -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
   -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
   transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-1e:hover,
.btn-1e:active {
   color: white;
}
/* background size */
.btn-1e:hover:after {
   height: 600%;
   opacity: 1;
}
/*
.btn-1e:active:after {
   height: 520%;
   opacity: 1;
}
*/
/* BUTTON STYLING END */
// MOBILE STYLES START
#headerSlideContainer {
   @include hidden(all-phones);
   @include hidden(portrait-tablets);
}
.navbar ul {
   @include respond("max-width: 768px") {
      background: white;
      padding-right: 4%;
   }
}

.headline{
   @include respond("max-width: 768px") {
      max-width: 60%;
      margin: 0 auto;
      margin-top: 10%;
   }
   @include respond("max-width: 668px") {
      max-width: 70%;
      margin: 0 auto;
      margin-top: 10%;
   }
   @include respond("max-width: 568px") {
      max-width: 80%;
      margin: 0 auto;
      margin-top: 10%;
   }
   @include respond("max-width: 468px") {
      max-width: 90%;
      margin: 0 auto;
      margin-top: 10%;
   }
}

.parallax1{
   @include respond("max-width: 768px") {
      min-height: 560px;
   }
}
.parallaxTop{
   @include respond("max-width: 768px") {
   background: url(../img/tempBackground.jpg) no-repeat;
   min-height: 300px;
}
}
.thirdParty{
   @include respond("max-width: 768px") {
      text-align: right;
      margin-bottom: 50px;
      margin-top: 20px;
      padding: 20px;
      h3{
         font-weight: 700;
      }
      p{
         margin-left: 16%;
         font-weight: 300;
         text-align: right;
      }
   }
}
.modContent{
   @include respond("max-width: 768px") {
      margin-right: 15px;
      float: right;
   }
}
.hideDesktop{
   @include hidden(desktop);
   img{
      width: 40%;
      overflow: hidden;
      float: right;
   }
}
.test3{
   @include hidden(tablet);
   @include hidden(all-phones);
}
.mainClient{
   @include respond("max-width: 768px") {
      width: 400px;
      padding: 20px;
      overflow: hidden;
   }
}
.mainClient{
   @include respond("max-width: 468px") {
      width: 400px;
      padding: 0px;
      overflow: hidden;
   }
}
.mainClient h3, .thirdParty h3{
   @include respond("max-width: 668px") {
      font-size: 20px;
   }
}
.mainClient{
   @include respond("max-width: 988px") {
      text-align: left;
      margin-top: 10%;
   }
   @include respond("max-width: 888px") {
      text-align: left;
      margin-top: 7%;
   }
}
.clientTextSlide{
   @include respond("max-width: 768px") {
      position: relative;
      left: -0%;
      opacity: 1;
   }
}
.thirdParty{
   @include respond("max-width: 768px") {
      position: relative;
      right: 0%;
      opacity: 1;
   }
}
.mMargin{
   @include respond(tablets) {
      margin-top: 30px;
      margin-bottom: 70px;
   }
   @include respond(all-phones) {
      margin-top: 30px;
      margin-bottom: 70px;
   }
}

.joined{
   @include respond("max-width: 768px") {
      min-height: 200px;
      padding-top: 30px;
   }
}
.four.columns.border{
   @include respond("max-width: 768px") {
      margin-top: 30px;
      margin-left: 10px;
      margin-right: 10px;
   }
}
.purchase .three_up, .purchase .ten.columns p{
   @include respond("max-width: 768px") {
      text-align: center !important;
   }
}
.faqs .four.columns .valign:before {
   @include respond("max-width: 768px") {
      height: 60px;
      margin-top: 80px;
   }
}
.faqs .eight.columns .valign:before {
   @include respond("max-width: 768px") {
      height: 240px;
      margin-bottom: 40px;
      margin-top: 0px;
      padding-top: 0px;
   }
}
.faqs .four.columns h3 {
   @include respond("max-width: 768px") {
      position: relative;
      font-size: 30px;
      right: 0%;
      opacity: 1;
   }
}
.faqs span{
   @include respond("max-width: 768px") {
   position: relative;
   right: 0%;
   opacity: 1;
   }
}
.faqs li i{
   @include respond("max-width: 768px") {
   position: relative;
   left: 0%;
   opacity: 1;
}
}
#footer li, #footer, #footer p{
   @include respond("max-width: 768px") {
      text-align: center !important;
   }
}
#footer .four.columns.inview{
   @include respond("max-width: 768px") {
      margin-top: 40px;
   }
}
.lowerFooter .socialFooter {
   @include respond("max-width: 768px") {
      margin-bottom: 10px;
      margin-top: 10px;
      text-align: center;
  }
}
.lowerFooter .license {
   @include respond("max-width: 768px") {
      margin-bottom: 10px;
      text-align: center;
  }
}
.footLinks .four.columns{
   @include respond("max-width: 768px") {
      right: 0%;
      position: relative;
      opacity: 1;
   }
}
#odometer2, #odometer3, #odometer4, #odometer5{
   overflow: visible !important;
   font-family: 'Roboto';
   font-weight: 300;
}

// TOP ANIMATION START
/* Apply to hex */
.arrow3 {
   animation: hex-pop-in 2.5s infinite 2.5s linear;
   -webkit-animation: hex-pop-in 2.5s infinite 2.5s linear;
   }
.arrow2 {
   animation: hex-pop-in 2.5s infinite 3s linear;
   -webkit-animation: hex-pop-in 2.5s infinite 3s linear;
}
.arrow1 {
   animation: hex-pop-in 2.5s infinite 3.5s linear;
   -webkit-animation: hex-pop-in 2.5s infinite 3.5s linear;
}


@keyframes hex-pop-in {
  0% { stroke: rgba(255,255,255,1); }
  100% { stroke: rgba(255,255,255,0.2); }
}
@-moz-keyframes hex-pop-in {
  0% { stroke: rgba(255,255,255,1); }
  100% { stroke: rgba(255,255,255,0.2); }
}
@-webkit-keyframes hex-pop-in {
  0% { stroke: rgba(255,255,255,1); }
  100% { stroke: rgba(255,255,255,0.2); }
}
@-o-keyframes hex-pop-in {
  0% { stroke: rgba(255,255,255,1); }
  100% { stroke: rgba(255,255,255,0.2); }
}

a.anchor{display: block; position: relative; top: -200px; visibility: hidden;}

// FAQ PAGE
#faq .headline{
   height: 30% !important;
}
.headerFAQS{
   text-align: center;
   font-weight: 700;
   color: #fefef6;
}
#faq .sixteen.colgrid{
   padding-top: 40px;
   background: url(../img/geometry.png);
}
#faq .eleven.columns{
   background: white;
   padding: 25px;
}
.code{
   font-family: "Source Sans Pro";
   font-weight: 700;
   background: #222;
   color: #41bf76;
   padding: 2px 10px;
   max-width: 400px;
   @include border-radius(2px);
}
#faq ul li{
   list-style-position: inside;
   list-style-image: url(../img/lozenge.png) !important;
   margin-top: 10px;
}
#faq h2{
   margin-top: 30px;
}
#faq .five.columns{
   margin-top: 0px;
   ul li{
   list-style-image: none !important;
   padding: 10px;
}
}
#faq .first{
   margin-top: 0px;
}
