// Your custom SCSS should be written here...
// BACKGROUND IMAGES THROUGHOUT START =========
.parallax{
   background-attachment: fixed !important;
}
.parallax1{
   background: url(../img/about-bg.jpg) no-repeat;
   background-size: cover;
   margin-top: 0px;
   padding-top: 0px;
}
.parallax2{
   background: url(../img/geometry.png) repeat;
}
.parallaxTop{
   background: url(../img/topBackgroundO.jpg) no-repeat;
   background-size: cover;
   height: 100%;
}
// BACKGROUND IMAGES THROUGHOUT END =========
#headerSlideContainer {
	position: fixed;
	top:-55px;
	width: 100%;
	background: white;
   z-index: 10;
   @include hidden(all-phones);
   @include hidden(portrait-tablets);
}
#headerSlideContent {
	height: 55px;
   a > span:before {
      margin-bottom: -2px;
   }
}
#nav2{
   .four.columns.logo{
      margin-top: -10px;
   }
}
.navbar ul li{
   text-align: right;
}
// UNDERLINE NAVBAR HOVER STATE START ==========
a > span {
   position: relative;
   color: #444;
   text-decoration: none;
   font-weight: 500;
   font-family: 'Roboto'
}
a > span:hover {
   color: #444 !important;
}
a > span:before {
   content: "";
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: 0;
   left: 0;
   margin-bottom: -15px;
   background-color: black;
   visibility: hidden;
   -webkit-transform: scaleX(0);
   transform: scaleX(0);
   -webkit-transition: all 0.3s ease-in-out 0s;
   transition: all 0.3s ease-in-out 0s;
}
.mainPast ul a > span:before{
   background-color: black;
}
a > span:hover:before {
   visibility: visible;
   -webkit-transform: scaleX(1);
   transform: scaleX(1);
}
a:before:hover{
}
// UNDERLINE NAVBAR HOVER STATE END ==========
.navbar ul li > a{
   padding-right: 0px;
   text-shadow: none;
   color: #444;
   font-weight: 500;
   font-family: 'Roboto';
   font-size: 14px;
}
.navbar ul li > a:hover{
   background-color: transparent;
}
.gumby-no-touch .navbar ul li:hover > a, .gumby-touch .navbar ul li.active > a, .navbar, .skiplink{
   background: transparent;
}

nav{
   height: 20%;
   background-color: white;
   .four.columns.logo{
      margin-top: 1.7%;
   }
   .eight.columns{
      margin-top: 2.5%;
      text-align: right;
      a{
         text-align: right;
      }
   }
}
.headline{
   text-align: center;
   margin-top: 30%;
   color: #111;
   h1{
      position: relative;
      font-weight: 900;
      top: -40px;
      opacity: 0;
      @include transition(all .5s);
      @include transition-timing-function(ease-out);
   }
   h2{
      position: relative;
      font-weight: 500;
      bottom: -40px;
      opacity: 0;
      @include transition(all .5s);
      @include transition-timing-function(ease-out);
      @include transition-delay(1s);
   }
}
h1.onscreen {
   top: 0px;
   opacity: 1;
}
h2.onscreen {
   bottom: 0px;
   opacity: 1;
}
.test3{
   text-align: left;
   padding-left: 0px;
   margin-top: 70px;
   z-index: -11111;
}
.test3 img{
   position: relative;
   right: -130px;
   opacity: 1;
   @include transition(all .8s);
   @include transition-timing-function(ease-out);
}
.test3 img.onscreen {
   right: 0px;
   opacity: 1;
}
.test2{
   position: relative;
   z-index: 1;
   min-height: 62px;
}
.mainClientWrap{
   margin-top: 0px;
}
.mainClient{
   text-align: left;
   margin-top: 14%;
   h3{
      font-weight: 700;
      padding-left: 0%;
      margin-bottom: 7px;
   }
   .descrip{
      font-weight: 300;
      margin-bottom: 30px;
      padding-left: 0%;
      font-size: 105%;
   }
   p{
      margin-bottom: 0px;
      .button{
         width: 260px;
         text-align: center;
         margin-bottom: 0px !important;
      }
   }
}
.needHelp{
   padding-left: 0%;
   font-size: 95%;
   font-weight: 300;
   span{
      color: #41bf76;
      font-size: 14px;
      font-weight: 500;
   }
   a > span:hover {
      color: #41bf76 !important;
   }
   a > span:before {
      margin-bottom: -2px;
      background-color: #41bf76;
   }
}

.comingS{
   font-weight: 500;
   font-size: 12px;
   color: #444 !important;
}
.thirdPartyButton{
   padding-right: -30px;
}
.thirdParty{
   text-align: right;
   margin-bottom: 50px;
   h3{
      font-weight: 700;
   }
   p{
      margin-left: 16%;
      font-weight: 300;
   }
}
.stats{
   text-align: center;
   background-color: #444;
   padding-top: 70px;
   padding-bottom: 70px;
   .statNumbers{
      font-size: 300%;
      margin-bottom: 20px;
      color: #41bf76;
      font-weight: 300;
   }
   .statWords{
      font-size: $norm;
      color: white;
   }
}
.clientNem{
   padding-top: 70px;
   padding-bottom: 70px;
}
.purchase .ten.columns.centered{
   margin-top: 20px;
   font-weight: 300;
}
.purchase{
   text-align: center !important;
}
.joined{
   min-height: 230px;
}
.arrows{
   padding-top: 16px;
   width: 60px;
}
.money{
   width: 100px;
}
.bitcoin{
   width: 65px;
   padding-top: 15px;
   padding-bottom: 15px;
}
.nemIcon{
   width: 65px;
   padding-top: 13px;
}
.button {
   margin: .4em;
   padding: .8em;
   cursor: pointer;
   background: transparent;
   text-decoration: none;
   border: 3px solid #444;
   color: #666;
   font-weight: 500;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   width: 160px;
   @include border-radius(3px);
}
.buyGuide{
   margin-top: 50px;
   margin-bottom: 70px !important;
   padding-top: 10px;
   margin-bottom: 10px;
   width: 100% !important;
   margin-bottom: 30px;
   background-color: transparent;
   text-align: center;
   position: relative;
   left: -40px;
   opacity: 0;
   @include transition(all .8s);
   @include transition-timing-function(ease-out);
   h5{
      font-size: 18px;
   }
   span{
      color: #41bf76;
      font-size: 16px;
      font-weight: 500;
   }
   a > span:hover {
      color: #41bf76 !important;
   }
   a > span:before {
      margin-bottom: -2px;
      background-color: #41bf76;
   }
}
.buyGuide.onscreen {
   left: 0px;
   opacity: 1;
}
.comingSoon{
   border: none;
   font-size: 12px;
   font-weight: bold;
   margin-top: 132px;
}
.heading3{
   padding-top: 70px;
   padding-bottom: 50px;
   background: transparent;
   text-align: center;
}
.border{
   min-height: 340px;
   padding: 2%;
   margin-top: 0px;
   background-color: white;
}
.faqs{
   background-color: #fefef6;
   color: #40cd7e;
   .four.columns{
      text-align: center;
   }
   li{
      @include font-size($norm);
      i{
         font-size: $large;
         margin-top: 3px;
         margin-bottom: 3px;
         padding: 10px;
         color: #444;
         background-color: #f6f6f6;
         @include border-radius(3px);
      }
   }
   span{
      color: #41bf76;
      font-size: 16px;
      font-weight: 500;
   }
   a > span:hover {
      color: #41bf76 !important;
   }
   a > span:before {
      margin-bottom: -2px;
      background-color: #41bf76;
   }
}
#footer{
   text-align: left;
   background-color: #444;
   padding-top: 30px;
   color: white;
   a{
      color: white;
   }
}
.footLinks {
   margin-bottom: 50px;
   p{
      font-size: 14px;
   }
   ul {
      li {
         line-height:1.2em;
         font-size: 80%;
         font-weight: 500;
         &:first-child {
            font-weight: 500;
            font-size: 110%;
            margin-bottom: 0px !important;
            line-height:2.9em;
         }
      }
   }
}
.lowerFooter{
   padding-top: 8px;
   padding-bottom: 8px;
   background-color: #2f2f2f;
   color: #a4a4a4;
}
.license{
   text-align: left;
   font-size: 12px;
}
.socialFooter{
   text-align: right;
   font-size: 20px;
}
/* BUTTON STYLING START */
.btn {
   border: none;
   font-family: inherit;
   font-size: inherit;
   color: inherit;
   background: none;
   cursor: pointer;
   padding: 6px 6px !important;
   display: inline-block;
   margin: 0px;
   text-transform: uppercase;
   letter-spacing: 1px;
   outline: none;
   position: relative;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}
.btn:after {
   content: '';
   position: absolute;
   z-index: -1;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}
/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
   font-family: 'icomoon';
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   position: relative;
   -webkit-font-smoothing: antialiased;
}
.btn-1 {
   border: 2px solid #444;
   color: #444;
   font-size: 12px;
}
.btn-1e {
   overflow: hidden;
}
.btn-1e:after {
   width: 100%;
   height: 0;
   top: 50%;
   left: 50%;
   background: #444;
   opacity: 0;
   -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
   -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
   -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
   transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-1e:hover,
.btn-1e:active {
   color: white;
}
/* background size */
.btn-1e:hover:after {
   height: 600%;
   opacity: 1;
}
/*
.btn-1e:active:after {
   height: 520%;
   opacity: 1;
}
*/
/* BUTTON STYLING END */
// MOBILE STYLES START
#headerSlideContainer {
   @include hidden(all-phones);
   @include hidden(portrait-tablets);
}
.navbar ul {
   @include respond("max-width: 768px") {
      background: white;
      padding-right: 4%;
   }
}
.parallax1{
   @include respond("max-width: 768px") {
      min-height: 560px;
   }
}
.thirdParty{
   @include respond("max-width: 768px") {
      text-align: right;
      margin-bottom: 50px;
      margin-top: 20px;
      padding: 20px;
      h3{
         font-weight: 700;
      }
      p{
         margin-left: 16%;
         font-weight: 300;
         text-align: right;
      }
   }
}
.modContent{
   @include respond("max-width: 768px") {
      margin-right: 15px;
      float: right;
   }
}
.hideDesktop{
   @include hidden(desktop);
   img{
      width: 40%;
      overflow: hidden;
      float: right;
   }
}
.test3{
   @include hidden(tablet);
   @include hidden(all-phones);
}
.mainClient{
   @include respond("max-width: 768px") {
      width: 400px;
      padding: 20px;
      overflow: hidden;
   }
}
.mainClient h3, .thirdParty h3{
   @include respond("max-width: 668px") {
      font-size: 20px;
   }
}
.mainClient{
   @include respond("max-width: 988px") {
      text-align: left;
      margin-top: 10%;
   }
   @include respond("max-width: 888px") {
      text-align: left;
      margin-top: 7%;
   }
}
.mMargin{
   @include respond(tablets) {
      margin-top: 30px;
      margin-bottom: 70px;
   }
   @include respond(all-phones) {
      margin-top: 30px;
      margin-bottom: 70px;
   }
}
.stats .statInfo{
   @include fancytiles(4,2,2);
}
.joined{
   @include respond("max-width: 768px") {
      min-height: 200px;
      padding-top: 30px;
   }
}
.four.columns.border{
   @include respond("max-width: 768px") {
      margin-top: 30px;
      margin-left: 10px;
      margin-right: 10px;
   }
}
.purchase .three_up, .purchase .ten.columns p{
   @include respond("max-width: 768px") {
      text-align: center !important;
   }
}
.faqs .four.columns .valign:before {
   @include respond("max-width: 768px") {
      height: 60px;
      margin-top: 80px;
   }
}
.faqs .eight.columns .valign:before {
   @include respond("max-width: 768px") {
      height: 240px;
      margin-bottom: 40px;
      margin-top: 0px;
      padding-top: 0px;
   }
}
.lowerFooter .socialFooter {
   @include respond("max-width: 768px") {
      margin-bottom: 10px;
      margin-top: 10px;
      text-align: center;
  }
}
.lowerFooter .license {
   @include respond("max-width: 768px") {
      margin-bottom: 10px;
      text-align: center;
  }
}
